【やること】user-icon画像表示 好きなライフハック　記事のお気に入り

<% if notice %>
  <p id="notice", class="alert alert-notice"><%= notice %></p>
<% end %>
<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p><%= image_tag comment.user.icon.url %></p>
    <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></p>
    <p><%= comment.user.like_hack %></p>
    <p>コメント：<%= comment.content %></p>
    <% if comment.user == current_user %>
        <p><%#= link_to '編集', edit_comment_path(comment.article_id, comment.id) %></p>
        <p><%= link_to '削除', article_comment_path(comment.article_id, comment.id), method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>