<% if notice %>
  <p id="notice", class="alert alert-notice"><%= notice %></p>
<% end %>

<% comments.each do |comment| %>
    <td class="align-middle">
  <% unless comment.id.nil? %>
    <% if comment.user.icon.present? %>
    <%# <p><%= image_tag comment.user.icon.url %></p> %>
    <% end %>

  <% if @article.user.icon? %>
    <td class="align-middle">
    <img src=<%= @article.user.icon %> class = "icon_image">
  </td>
    <% else %>
      <td class="align-middle">
      <img src="/assets/default.jpg" class = "icon_image">
  </td>
  <% end %>

<div class="text-primary">
  <strong><%= @article.user.name %></strong>
</div>

</td>
    <strong><%= link_to "#{comment.user.name}", user_path(comment.user.id) %></strong>
    <p><%= comment.user.like_hack %></p>
    <p>吹き出しコメント：<%= comment.content %></p>

    <% if comment.user == current_user %>
        <p><%= link_to '削除', article_comment_path(comment.article_id, comment.id), method: :delete, remote: true %></p>
    <% end %>

    <% if current_user && current_user.admin? %>
        <p><%= link_to '管理者削除', article_comment_path(comment.article_id, comment.id), method: :delete, remote: true %></p>
          <% end %>
  <% end %>
<% end %>