<%= form_with(model: request_theme, local: true) do |form| %>
  <% if request_theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request_theme.errors.count, "件") %> のエラーです</h2>

      <ul>
      <% request_theme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>リクエストするテーマを投稿してね！</h1>

  <div class="name-field">
    <%= form.label :名前%>
    <%= form.text_area :name %>
  </div><br>
  <div class="title-field">
    <%= form.label :リクエストテーマ %>
    <%= form.text_area :title %>
  </div>

  <div class="actions">
    <%= form.submit'リクエストする',class: 'btn btn-primary' %>
  </div>
<% end %>
