<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation", style="float: right;">
      <h2><%= t("errors.template.header", model: User.model_name.human, count: @user.errors.count) %></h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="app-function-title"><span>User</span>編集</h1>

  <div class="form-user-edit">

      <%= form.label :名前 %>
      <%= form.text_field :username, class: 'form-control', placeholder: '名前を入力して下さい。' %>
      <%= form.label :メールアドレス %>
      <%= form.email_field :email, class: 'form-control', placeholder: 'メールアドレスを入力して下さい。' %>
      <%= image_tag @user.image.url, size: '300x200' if @user.image && @user.image.url %>
      <%= form.hidden_field :image_cache %>

      <div class="image-field row">
        <div class="col-12 col-lg-1">
          <%= form.label :image, '画像', class: 'image-input-btn' %>
        </div>
        <div class="col-12 col-lg-4">
          <%= form.file_field :image, class: 'image-form' %>
        </div>
        <div class="col-12 col-lg-1">
          <%= form.submit value: "設定している画像を削除する。",name: "delete_image",data: { confirm: "画像を削除しますか？"}, class:'btn btn-danger delete-image' %>
        </div>
      </div>

      <%= form.label :introduction, '自己紹介(200字以内)' %>
      <%= form.text_area :introduction, class: 'form-control area-field', placeholder: '自己紹介を入力して下さい。' %>
      <%= form.label :password, 'パスワード(6字以上)' %>
      <%= form.password_field :password, class: 'form-control', placeholder: 'パスワードを入力して下さい。' %>
      <%= form.label :パスワード確認 %>
      <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'パスワードを入力して下さい。' %>

    <div class="action">
      <%= form.submit I18n.t('views.button.register'), class: 'custom-btn new-link' %>
    </div>
  </div>
<% end %>