<h1>記事一覧</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont, 'タイトル検索' %> <%# _cont検索したワードが含まれているレコードを取得するメソッド%>
    <%= f.search_field :title_cont %>
    <%= f.submit "検索" %><br>
  <% end %>
  
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= link_to '詳細', article %></td>
        <% if current_user.admin? %> 
          <td><%= link_to '管理者用編集', edit_article_path(article) %></td>
          <td><%= link_to '管理者用削除', article, method: :delete, data: { confirm: '削除しますか?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'テーマをリクエストする', new_request_theme_path, class: 'btn btn-primary' %><br>
<% if current_user.admin? %> 
  <%= link_to '管理者 記事作成', new_article_path %> 
<% end %>
<%= paginate @articles %>

