<div class="article_title"> 
<h1><%= "#{@article.title}"%></h1>
</div>
<% if user_signed_in? %>
        <div class="comment-create mb-4">
            <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
        </div>
    <% end %>
    <ul>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    
    <div class="favorite_button_on">
    <% if current_user && @article.user_id != current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'いいね解除', article_favorite_path(article_id: @article.id), method: :delete, remote: true, class: 'btn btn-danger' %>
        <%# <i class="far fa-heart"><i> %>
      <% else %>
        <%= link_to '記事いいね', article_favorites_path(article_id: @article.id), method: :post, remote: true, class: 'btn btn-primary' %>
        <%# <i class= "far fa-heart"></i> %>
      <% end %>
        ♥<%= @article.favorites.count %>
    <% end %>
    </div>
</div>