<div class="article_title"> 
<h1><%= "#{@article.title}"%></h1>
</div>
<% if user_signed_in? %>
        <div class="comment-create mb-4">
            <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
        </div>
<% end %>
    <ul>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>

    <div class="favorite_button_on" id="article_<%=@article.id %>">
    <%= render partial: 'articles/like', locals: {article: @article} %>
    </div>
</div>