#テーマリクエストボタンの作成が必要
記事お気に入り必要
※画像＝タイトル

<%= image_tag 'hack1.jpg', size: '1500x400' %><br>

<div class="row">
    <ul>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
        </div>
        </div>
    <% end %>
    
    <div class="favorite_button_on">
    <% unless @article.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'いいね解除', article_favorite_path(article_id: @article.id), method: :delete, remote: true, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to '記事いいね', article_favorites_path(article_id: @article.id), method: :post, remote: true, class: 'btn btn-primary' %>
      <% end %>
        ♥<%= @article.favorites.count %>
    <% end %>
    </div>