<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-8/css/reset.css">
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-8/css/5-8.css">
<div id="particles-js"></div>
<div id="wrapper">
  <a href="https://vincentgarreau.com/particles.js/" target="_blank"></a></p>
<!--/wrapper--></div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-8/js/5-8.js"></script>


<div class="top_container">
  <%= link_to articles_path do %>
    <%= image_tag "lifehack_logo.png" ,class:'title' %>
  <% end %>
  <div class="comment">
    <h1>みんなの悩みをライフハックで解決！</h1>
    <p>ライフハックの知見が集まるコミュニティー。</p>
    <p>ユーザーの抱える悩みをテーマとして、ライフハックの知見を共有。</p>
    <p>自身が解決したい悩みはリクエストテーマに投稿してください！</p>
  </div>

    <% if user_signed_in? %>
      <ul class="guest_login">
        <%= link_to " 記事一覧 ", articles_path, class:"btn btn-outline-primary" %>
        <% else %>
        <%= link_to 'ゲストログイン' , users_guest_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
        <%= link_to '管理者ゲストログイン', users_guest_admin_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
        <%= link_to " ログインする ", new_user_session_path, class:"btn btn-outline-primary" %>
      </ul>
    <% end %>
</div>