<div class="top_container">
  <%= link_to articles_path do %>
    <%= image_tag "lifehack_logo.png" ,class:'title' %>
  <% end %>
  <div class="comment">
    <p>みんなの悩みをライフハックで解決！</p>
    <p>コンセプトは、ライフハックの知見が集まるコミュニティーです。</p>
    <p>ユーザーの抱える悩みをテーマとして、ライフハックの知見活かしてサクッと解決！</p>
    <p>自身が解決したい悩みはリクエストテーマに投稿してください！</p>
  </div>

    <% if user_signed_in? %>
      <ul class="guest_login">
        <%= link_to " 記事一覧 ", articles_path, class:"btn btn-outline-primary" %>
        <% else %>
        <%= link_to 'ゲストログイン' , users_guest_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
        <%= link_to '管理者ゲストログイン', users_guest_admin_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
        <%= link_to " ログインする ", new_user_session_path, class:"btn btn-outline-primary" %>
      </ul>
    <% end %>
</div>