<div class="profile row">
  <h1><span>User</span>マイページ</h1>

  <div class="profile-image">
    <%= image_tag @user.image.url, size: '400x300' if @user.image && @user.image.url %>
  </div>

  <div class="profile-box">

    <h2 class="profile-name"><%= @user.username %></h2>

    <div class="profile-function">
      <ul>
        <li>
          <% if current_user == User.find(params[:id]) %>
            <%= link_to 'ユーザ編集', edit_user_path, class: 'btn user-show-btn' %>
          <% end %>
        </li>
        <li>
          <% if current_user.admin? %>
            <%= link_to '管理者画面', rails_admin_path, class: 'btn user-show-btn' %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="profile-bio">
      <p><%= @user.introduction %></p>
    </div>

  </div>
</div>