<div class="profile">
  <h1><span>プロフィール</span></h1>

  <div class="profile-icon">
    <p>プロフィール画像 : <%= image_tag @user.icon.url,size: '200x200' if @user.icon && @user.icon.url %></p>
  </div>
    <p>名前 : <%= @user.name %></p>
    <p>メールアドレス : <%= @user.email %></p>
    <p>好きなライフハック : <%= @user.like_hack %></p>
    <h3>いいね記事</h3>
    <%# @user.favorite_articles.each do |article| %>
      <%#= link_to "#{article.title}" %>
    <%#end%>
      <ul>
        <li>
          <% if current_user == @user %>
            <%= link_to 'プロフィール編集', edit_user_registration_path, class: 'btn user-show-btn' %>
          <% end %>
        </li>
        <li>
          <% if current_user.admin? %>
            <%= link_to '管理者画面', rails_admin_path, class: 'btn user-show-btn' %>
          <% end %>
        </li>
      </ul>
  </div>
</div>