<!DOCTYPE html>
<html>
  <head>
    <title>Lifehack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="header">
      <%= link_to root_path ,class:"top_menu_left_image" do %>
        <%#= image_tag "lifehack_logo.png" , class:"logo"%>
      <% end %>

  <% if user_signed_in? %>
    <%= link_to "プロフィール", user_path(current_user.id) %>
    <%= link_to "プロフィール編集", edit_user_registration_path %>
    <%= link_to '記事一覧', articles_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to '管理画面' , rails_admin_path %>

  <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <%#= link_to 'ゲストログイン' , users_guest_sign_in_path, method: :post %>

  <% end %>

  <%# <% if current_user.admin?%>
    <% if notice %>
    <p id="notice", class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  
    <%= yield %>
  </body>
</html>
